/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */

/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* shared styles */
.container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-container img{
    width:100%;
    height:100%;
}

.primary-btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    text-align: center;
}

.fa-arrow-right {
    padding-left: 5px;
}

/* header styles */


/* hero section styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
}

.hero-left {
    width: 50%;
    margin-bottom:20px;
    /* border: 2px solid green; */
}

.hero-title {
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-description {
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}

.hero-btn {}

.hero-right {
    background-image: url("../images/circle-design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}
/* responsive media queries */

/* responsive for small devices */

@media only screen and (max-width:576px) {
    .container{
        max-width:329px;
    }
    .hero {
        flex-direction: column;
    }

    .hero-left {
        order: 2;
        width: auto;
        text-align:center;
    }

    .hero-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 42px;
    }

    .hero-description {
        font-size: .87rem;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .img-container {
        width: 202px;
        /* height:250px; */
    }
    .hero-right {
        background-position: center;
        padding: 50px;
        margin-bottom:10px;
    }
}